{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username|capfirst }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    
    <a href="{% url 'article_list' %}" class="btn btn-primary btn-lg">Go to articles</a>

{% else %}
    <p>You're not logged in</p>
    <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">Log In</a>
    <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
    {% endif %}
{% endblock content %}