{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="article-entry">
    <h2>{{ article.title }}</h2>
    <p>by {{ article.author }} | {{ article.date|date:"Y N d" }}</p>
    <div class="img-fluid pb-3">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="45%" y="50%" fill="#dee2e6" dy="".3em>Image</text>
      </svg>
    </div>
    <p>{{ article.body }}</p>
</div>
{% if user.username == article.author.username %}
    <p>
        <a href="{% url 'article_edit' article.pk %}" class="btn btn-outline-secondary btn-sm">Edit</a>
        <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger btn-sm ">Delete</a>
    </p>
{% endif %}
<hr>
<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComment" aria-expanded="false" aria-controls="collapseExample">
    Comments <span class="badge text-bg-secondary">{{ article.comments.all.count }}</span>
</button>
<div class="collapse pt-3" id="collapseComment">

    {% for comment in article.comments.all %}
        <p>
            {{ comment.author }} &middot; {{ comment }}
        </p>
    {% endfor %}

<hr>
<h5>Add a comment</h5>
<form method="POST">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Post comment</button>
</form>
</div>
<hr>
<p><a href="{% url 'article_list' %}" class="btn btn-primary">Go to all articles</a></p>


{% endblock content %}


